<!DOCTYPE html>
<html
  itemscope
  itemtype="http://schema.org/WebPage"
  lang="{{ .Site.Language.Lang }}"
  class="color-toggle-hidden"
  {{ if default false .Site.Params.GeekblogDarkModeCode }}code-theme="dark"{{ end }}
>
  <head>
    {{ partial "head/meta" . }}
    <title>
      {{- if eq .Kind "home" -}}
        {{ .Site.Title }}
      {{- else -}}
        {{ printf "%s | %s" (partial "utils/title" .) .Site.Title }}
      {{- end -}}
    </title>

    {{ partial "head/favicons" . }}
    {{ partial "head/rel-me" . }}
    {{ partial "head/microformats" . }}
    {{ partial "head/others" . }}
    {{ partial "head/custom" . }}
  </head>

  <body>
    {{ partial "svg-sprites" . }}


    <div
      class="wrapper {{ if default false .Site.Params.GeekblogDarkModeDim }}dark-mode-dim{{ end }}"
    >
      {{ partial "site-header" . }}

      <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
          <div id="search"></div>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
              new PagefindUI({ element: "#search" });
            });
        </script>

      <main class="gblog-page container">
        {{ template "main" . }}
      </main>

      {{ partial "site-footer" . }}
    </div>
  </body>
</html>
